{{define "main"}}

    <main class="catalog">
      <div class="container">
        <details class="product-group-description">
          <summary>
            <!-- Product group description short -->
            <div class="text-block">
              <h3>{{.Name}}</h3>
              <p>Френч представляет собой классический маникюр, который весьма подходит и для работы, и для торжественного мероприятия, и для отдыха. <span class="hidden-sm">Френч-маникюр выполняется в натуральных бело-розовых оттенках, другие варианты предполагают использование бежевого, или нюда. Французский маникюр гель-лаком особенно популярен: он долговечен и порадует вас отсутствием сколов и отслоений.</span></p>
            </div>
            <div class="view_more">
              <span class="view-group-description"><span class="view_text">Читать полностью...</span><span class="hide_text displaynone">Убрать описание...</span></span>
            </div>
            <!-- /Product group description short -->
          </summary>
          <div class="text-block">
            <!-- Product group description full -->
            <p class="hidden-lg">Френч-маникюр выполняется в натуральных бело-розовых оттенках, другие варианты предполагают использование бежевого, или нюда. Французский маникюр гель-лаком особенно популярен: он долговечен и порадует вас отсутствием сколов и отслоений.</p>

            <h3>В чем разница между гелем и гель-лаком?</h3>
            <p>Принципиальное отличие – назначение. Гель применяется для наращивания ногтей, застывая, он компенсирует натуральную пластину искусственной. Гель-лак же – декоративное покрытие, используемое для нейл-дизайна. Поэтому он во многом схож с привычным нам лаком. Второе отличие – технология нанесения.&nbsp; Общим между двумя материалами считается склонность к полимеризации, а также участие базы и топа в процессе нанесения.</p>

            <h3>Шеллак - купить в Барнауле</h3>
            <p>Многие женщины несколько путаются в понятиях, считая шеллак и гель-лак разными средствами для окрашивания ногтей. По сути это одно и то же покрытие. Оно было разработано компанией CND, запатентовавшей новый продукт под названием Shellaak. Конкурирующие фирмы переняли идею и запустили выпуск собственных средств. Однако оригинальный шеллак все же различается – у него свой эксклюзивный состав и несколько другая структура. Стоить шеллак дешево не может, он на порядок дороже аналогов. Поэтому если вам предложили в салоне покрыть им ногти по цене гель-лака, имейте в виду – с настоящим шеллаком средство не имеет ничего общего.</p>

            <h3>Особенности гель-лака</h3>
            <p>Сочетание свойств геля и лака оказалось настолько удачным, что клиентки нейл-мастеров, впервые попробовавшие маникюр с этим покрытием, навсегда стали его поклонницами. Средство создает прочный, но эластичный слой, не такое толстое, как то, что применяется для наращивания. Удлинить им ногтевую пластину нельзя, равно как и придать форму, замаскировать существенные дефекты.</p>
            <p>Он продается в таких же, как лак, бутылочках с кистью и наносится по тому же принципу. Тонкий слой гель-лака является заключительным этапом маникюрного процесса. Только для того, чтобы покрытие образовало стойкую пленку, необходима его выдержка под ультрафиолетом или LED-лампой. Входящие в состав гелиевые полимеры, проявляющие реакцию под специальным излучением, как раз и обеспечивают высокую прочность покрытия. Оно продержится от 2 до 4 недель, затем его придется снять, так как отросший внутренний край ногтя будет смотреться неэстетично.</p>

            <h3>Преимущества гель-лака</h3>
            <p>Достоинства материала – причина его небывалой популярности:</p>
            <ul>
            <li><p>Глянцевая поверхность, красивый блеск, не тускнеющие со временем. Девушки, не любящие лаковое переливчатое покрытие, наносят матовые финиши для разнообразия дизайна.</p></li>
            <li><p>Подходит для любых ногтей. Гель-лаком можно красить тонкие пластины с небольшим рельефом. Благодаря ему они укрепляются и выравниваются.</p></li>
            <li><p>После сушки можно делать что угодно. Правда, долго держать руки в воде не рекомендуется в первые сутки.</p></li>
            <li><p>Отсутствие токсичного запаха, вредных веществ в составе (при условии качества продукта).</p></li>
            <li><p>Простота в нанесении. Освоить технику может любая женщина. Нужно только купить гель-лак и все остальные компоненты для процедуры (совет от профессионалов – экономить на основах не стоит, именно они и придают стойкость покрытию).</p></li>
            </ul>
            <p>В магазине Sakwa можно приобрести все, что требуется для создания безупречного маникюра. Мы предлагаем материалы для нейл-мастеров и тех, кто желает самостоятельно заниматься своими ногтями. В нашем каталоге вы найдете большой выбор продукции известных производителей, получившую отличные отзывы специалистов нейл-индустрии.</p>

            <h3>Что нужно для процедуры?</h3>
            <p>Чтобы сделать ультрамодный дизайн, необходимы материалы, без которых не обойтись. Что входит в обязательный набор:</p>
            <ul>
            <li><p>Цветной гель-лак. Для новичков подойдет стартовый комплект с основными расцветками.</p></li>
            <li><p>Базовое покрытие (база). Основа под декоративное покрытие, выравнивающее ногтевую пластину и защищающее ее от проникновения внутрь пигмента.</p></li>
            <li><p>Финишное покрытие (топ). Он предохраняет лаковую поверхность от растрескивания, сколов и царапин.</p></li>
            <li><p>Антисептик. Им обрабатываются кончики пальцев после удаления кутикулы и шлифовки ногтей.</p></li>
            <li><p>Обезжириватель. Нужен для удаления влаги и жира с пластин перед нанесением базы.</p></li>
            <li><p>Праймер. Применяется для более крепкого сцепления с ногтевыми чешуйками базового покрытия, чтобы конечный результат не отслаивался.</p></li>
            <li><p>Клинсер. Им убирается липкий слой, образовавшийся после сушки под LED-лампой.</p></li>
            <li><p>Жидкость для удаления гель-лака и безворсовые салфетки. Эти материалы используются для снятия покрытия. Кстати, салфетки нужны и для обезжиривателя.</p></li>
            <li><p>Апельсиновые палочки. Данными средствами убираются остатки геля возле кутикулы, прорисовываются тонкие линии в рисунке на ногте.</p></li>
            </ul>

            <h3>Как делать маникюр</h3>
            <p>Инструкция для тех, кто решил попробовать модный маникюр в самостоятельном исполнении (без декорирования):</p>
            <ul>
            <li><p>Отодвиньте кутикулу, если нужно, удалите ее, обрежьте ногти.</p></li>
            <li><p>Намочите салфетку дезинфицирующей жидкостью и протрите пластину.</p></li>
            <li><p>Нанесите базу, заполимеризуйте ее под лампой (время выдержки указывается производителем).</p></li>
            <li><p>Покройте цветным составом ноготь, не забывая пройтись по торцу. Просушите его. Сколько слоев наносить зависит от желаемой плотности, интенсивности цвета и особенностей конкретной марки лака. Каждый слой должен полимеризоваться. Липкость не убирайте.</p></li>
            <li><p>Теперь очередь топа. Нанесите его, тщательно обработав края ногтя. После сушки удалите внешнюю дисперсию (липкость) дезинфектором.</p></li>
            </ul>
            <p>Ничего сложного в технологии нет, просто нужно придерживаться последовательности и проявлять аккуратность. Закрепив навык, делать самой маникюр можно за полчаса.</p>

            <h3>Как снять покрытие?</h3>
            <p>Для удаления маникюра используются специальная жидкость, салфетки (те, которые были приобретены в наборе) и фольга. Салфетки смочите препаратом, положите на ноготь, кончики пальцев обмотайте фольгой, чтобы жидкость быстро не испарилась. Подождите 15-20 минут. Размягченный слой гель-лака снимите апельсиновой палочкой. Некоторые виды материала удаляются фрезой, но делать это лучше в условиях салона – самой неудобно и небезопасно.</p>
            <p>Где купить шеллаки в Барнауле по лучшим ценам? Конечно, в интернет-магазине Sakwa.</p>
            <!-- /Product group description full -->
          </div>
        </details>
      </div>


      <div class="container">
        <div class="row product-filter">
          <div class="col-md-4 hidden-md hidden-sm stylish-input-group">
            <form>
              <div class="form-group row"> 
                <div class="input-group">
                  <span>Поиск по товару:</span>
                    <input type="text" class="form-control" id="searchInput">
                    <span class="input-group-addon">
                      <button type="submit" id="searchButton"><i class="material-icons">search</i></button>
                    </span>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="row">
              <div class="col-md-8 select-group">
                <div class="row">
                  <div class="col-md-4 lg-right-sm-left">
                    <label for="sel1">Сортировать:</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <select class="form-control" id="sel1">
                        <option>по названию</option>
                        <option>по цвету</option>
                        <option>по объёму</option>
                        <option>по цене</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 filter-switcher">
                <div class="input-group">
                  <span class="switcher-title">Фильтры</span>
                  <div class="material-switch">
                    <input id="hideFiltersSwitcher" name="hideFiltersSwitcher" type="checkbox" checked="checked" />
                    <label for="hideFiltersSwitcher" class="label-default"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container filters sakwa_mode switched-off">
        <div class="row">
          <div class="col-md-2 filter-title">Производитель<span class="colon">:</span> <span class="filter-number">(6)</span></div>
          <div class="col-md-10 filter-values">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="all" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">Все <span>(372)</span></span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">Fantasy One <span>(23)</span></span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">Fantasy Two <span>(45)</span></span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">Fantasy Three <span>(112)</span></span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">Fantasy Four <span>(14)</span></span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">Fantasy Five <span>(137)</span></span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">Fantasy Six <span>(41)</span></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 filter-title">Цвет<span class="colon">:</span> <span class="filter-number">(15)</span></div>
          <div class="col-md-10 filter-values">
            <div class="filter-color">
              <input type="checkbox" value="#bdbdbd" style="background-color: #bdbdbd;" title="Цвет: #bdbdbd" />
              (123)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#ddbd8c" style="background-color: #ddbd8c;" title="Цвет: #ddbd8c" />
              (222)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#4b2614" style="background-color: #4b2614;" title="Цвет: #4b2614" />
              (546)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#fb9bc1" style="background-color: #fb9bc1;" title="Цвет: #fb9bc1" />
              (212)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#d12768" style="background-color: #d12768;" title="Цвет: #d12768" />
              (125)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#d51212" style="background-color: #d51212;" title="Цвет: #d51212" />
              (67)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#6d0f10" style="background-color: #6d0f10;" title="Цвет: #6d0f10" />
              (89)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#fb684f" style="background-color: #fb684f;" title="Цвет: #fb684f" />
              (34)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#fdd818" style="background-color: #fdd818;" title="Цвет: #fdd818" />
              (98)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#e6e6e6" style="background-color: #e6e6e6;" title="Цвет: #e6e6e6" />
              (34)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#ddbd8c" style="background-color: #ddbd8c;" title="Цвет: #ddbd8c" />
              (73)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#4b2614" style="background-color: #4b2614;" title="Цвет: #4b2614" />
              (13)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#fb9bc1" style="background-color: #fb9bc1;" title="Цвет: #fb9bc1" />
              (66)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#d12768" style="background-color: #d12768;" title="Цвет: #d12768" />
              (89)
            </div>
            <div class="filter-color">
              <input type="checkbox" value="#d51212" style="background-color: #d51212;" title="Цвет: #d51212" />
              (270)
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 filter-title">Объём<span class="colon">:</span> <span class="filter-number">(3)</span></div>
          <div class="col-md-10 filter-values">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="all" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">Все <span>(122)</span></span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">100 мл <span>(23)</span></span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">200 мл <span>(45)</span></span>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />
                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                <span class="filter-rezult">300 мл <span>(54)</span></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row buttons">
          <div class="col-md-5 textalignright filters-controls">
            <a class="textalignleft" href="">сбросить фильтры</a>
            <button class="btn btn-small btn-primary">применить</button>
          </div>
        </div>
      </div>
      
      <section class="product-group">
        <div class="container">
          <div class="tabs">
            <div class="tab">
              <div class="tab-content">
                <div class="row">

                  <!-- The goods -->

		  {{range .Products}}
			{{template "productsmall" .}}
		  {{end}}

                  <!-- /The goods -->
                </div>

                <div class="row displaynone">
                  <div class="view_more">
                    <span class="nolink">Товаров с таким сочетанием фильтров не найдено. Попробуйте изменить параметры отбора.</span>
                  </div>
                </div>

                <div class="row">
                  <div class="view_more pagination" data-maxpage='{{.Lastpage}}'>
                    <a href="javascript:;" data-href="#" id="firstPage">&lt;&lt;</a> <a href="javascript:;" data-href="#" id="prevPage">&lt;</a> <a href="javascript:;" data-href="?page=1" class="displaynone" id="pag1">1</a> <a href="javascript:;" data-href="?page=2" class="displaynone" id="pag2">2</a> <a href="javascript:;" data-href="?page={{.Currentpage}}" class="current" id="pag3">{{.Currentpage}}</a> <a href="javascript:;" data-href="?page=4" id="pag4">4</a> <a href="javascript:;" data-href='?page=5' id="pag5">5</a> <a href="javascript:;" data-href="#" id="nextPage">&gt;</a> <a href="javascript:;" data-href="#" id="lastPage">&gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    </main>

{{end}}